
.segment-name, .segment-tags-list {
  width: 100%;
}

:host .category-control-panel:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 5px;
}

:host .category-control-panel:first-of-type {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
