html, body {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: #212529;
  text-align: left;
  background-color: #fff
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
