@import "./styles/breakpoints";
@import "./styles/section";
@import "./styles/separator";

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center !important;
}

@include media-breakpoint-down(lg) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.lead {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.lead, p {
  font-weight: 300;
  line-height: 1.7;
}
.text-white {
  color: #fff!important;
}

.lead+.btn-wrapper {
  margin-top: 3rem;
}

.mt-5, .my-5 {
  margin-top: 3rem!important;
}

.btn-white:not(:disabled):not(.disabled).active, .btn-white:not(:disabled):not(.disabled):active, .show>.btn-white.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
  box-shadow: none;
}
.btn:not(:last-child) {
  margin-right: 0.5rem;
}

.btn-try {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn {
  position: relative;
  text-transform: uppercase;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
  padding: 0.875rem 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.fill-space {
  flex-grow: 1;
}
