.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mat-sidenav-content .container {
  justify-content: space-between;
}

.wrapper {
  background-color: #f7f8fa;
}

.mat-toolbar .container {
  display: flex;
  align-items: center;
}

.mat-toolbar {
  background: transparent;
}

.intro {
  height: 90vh;
}

.wrapper .intro h1 {
  font-size: 2.875rem;
  line-height: 4rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.wrapper .intro h2 {
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.description {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  padding-bottom: 30px;
}

.portfolio-chart {
  text-align: center;

  & > :first-child {
    background-color: white;
  }
}

.portfolio {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-dividends {
  position: absolute;
  top: 10%;
  left: 60%;
}

.company-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.div-ps {
  font-weight: 500;
  margin-bottom: 5px;
}

.pay-date, .div-total {
  font-size: 11px;
  margin-bottom: 0;
  margin-right: 5px;
}

.btn.btn-start {
  font-weight: 500;
  line-height: 28px;
  font-size: 1rem;
  border-radius: 100px;
  padding: 25px 20px;
}
