.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mat-sidenav-content .container {
  justify-content: space-between;
}

.wrapper {
  background-color: #f7f8fa;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
}


@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  & .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  & .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (min-width: 992px) {
    & .col-lg-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
  }
}

.intro {
  height: 90vh;
}

.description {
  display: flex;
  align-items: center;
}

.portfolio-chart {
  top: 15%;
  right: 0;

  & > :first-child {
    background-color: white;
  }
}

.portfolio {
  position: relative;
}

.portfolio-dividends {
  position: absolute;
  top: 0;
  right: 0;
}
