.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  background: transparent;
}

.sidenav {
  width: 200px;
}

.top-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

router-outlet + * {
  background-color: #f7f8fa;

}
