<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over': 'side'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/app/portfolio" (click)="sidenav.close()">Portfolio</a>
      <a mat-list-item routerLink="/app/trades" (click)="sidenav.close()">Trades</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [color]="'primary'">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button
              (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="">Assets</span>
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)" class="top-nav">
        <a routerLink="/app/portfolio" mat-button>Portfolio</a>
        <a routerLink="/app/trades" mat-button>Trades</a>
        <a (click)="logout()" mat-button>Logout</a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
