.card-header {
  display: flex;
  align-items: center;

  & .title {
    padding-right: 5px;
    font-size: 16px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    max-width: 60%;
  }

  & .group-by-selector {
    max-width: 40%;
  }
}
