name: Deploy Client App

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths:
      - client/**
jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
          always-auth: true
      - run: npm ci
      - run: npm run build:prod
