name: Fly Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
  SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - uses: superfly/flyctl-actions/setup-flyctl@master
    - run: flyctl deploy --local-only
